/* 

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-align: left; 
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    background-color: #444;
    color: white;
    width: 250px;
    padding: 1rem;
    overflow-y: auto;
}

.main {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}  */


/* Layout structure */
.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  color: white;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

/* Hide sidebar by default on small screens */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 100;
  color: #000;
  padding: 0; 
  width: 75%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.sidebar-menu {
  list-style: none; 
  padding-left: 0;
} 

.sidebar-menu li a {
  display: flex;
  align-items: center; /* Vertically centers the text with the SVG */
  padding: 10px; 
  color: #000; /* Text color */
  text-decoration: none; /* Remove underline from links */
}

.sidebar-menu li:hover {
  background-color: rgba(167, 164, 243, 0.4);   
}

.sidebar-menu li a svg {
  margin-right: 8px;
}


.sidebar-link {
  background-color: transparent; /* Default background color */
}

.sidebar-link.active {
  background-color: rgba(134, 133, 172, 0.4); /* Change this to your desired active link color */
}

.close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Overlay for mobile menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 50;
}

/* Header */
.header { 
  align-items: center;
  padding: 0.5rem; 
  display: flex;
  justify-content: space-between; 
  background-color: rgba(11, 8, 118, 0.4);
  margin: 0;
  flex : 0 1; 
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.close-btn{
  display: block;
}

.header h1 {
  margin: 0;
  font-size: 24px;  
}

.title-side-bar {
  display: block;
  margin: 0;
}

.title-header {
  display: block;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color:rgb(243, 246, 250);
}

.content {
  padding: 1rem;
  display: flex;  
  flex: 1 1;

}

.todays-date {
  fontSize: "1.25rem";
  fontFamily: "sans-serif"; 
}

.card {
  width: 100%;  
  overflow: hidden;
  flex: 1 1 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease;
}

.card-content {
  padding: 20px;
}

.card-content h1 {
  margin: 0;
}

.employee-container {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; */
}

.employee-list {
  flex: 1;
  width: 40%;
}

.employee-form {
  width: 60%;
}
 

/* Hide hamburger on desktop */
@media (min-width: 768px) {

  .sidebar {
    transform: translateX(0);
    position: relative;
    border-right: 3px solid rgb(140, 142, 145);
    width: 20%;
  }

  .overlay {
    display: block;
  }

  .close-btn{
    display: none;
  }

  .hamburger {
    display: none;
  }

  .title-side-bar {
    display: block;
  }

  .title-header {
    display: none!important;
  }

  .header {
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {

  .sidebar {
    width: 75%;
    /* background-color: #fff;
    color: white;
    padding: 1rem;
    transition: transform 0.3s ease-in-out; */
  }

}

@media (min-width: 1024px) {
  /* Styles for larger screens like desktops */
  .sidebar {
    width: 20%;
    /* background-color: #fff;
    color: white;
    padding: 1rem;
    transition: transform 0.3s ease-in-out; */
  }
}



@media (min-width: 1200Px) {
  /* Styles for larger screens like desktops */
  .sidebar {
    width: 15%;
    /* background-color: #fff;
    color: white;
    padding: 1rem;
    transition: transform 0.3s ease-in-out; */
  }
}
